<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hackjunction Workshop - Olympic cities</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://developers.google.com/maps/documentation/javascript/demos/demos.css">
    </head>
        <body>
        <div id="prezi-player-container">
            <div id="prezi-player" class="player"></div>
        </div>
        <div id="google-maps-container">
            <div id="map"></div>
        </div>

        <script src="http://prezi.github.io/prezi-player/lib/PreziPlayer/prezi_player.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&callback=initMap" async defer></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript">
            startApp();
        </script>
    </body>
</html>
